.hugo_build.lock

# Hugo default output directory
/public/
/resources/

# Node modules
/node_modules/

# macOS
.DS_Store

# Compiled CSS
*.css.map

# IDE
.vscode/
.idea/
public/404.html
public/index.html
public/index.xml
public/robots.txt
public/sitemap.xml
public/about/index.html
public/authors/index.html
public/authors/index.xml
public/categories/index.html
public/categories/index.xml
public/posts/index.html
public/posts/index.xml
public/posts/firstpost/index.html
public/resume/index.html
public/series/index.html
public/series/index.xml
public/stages/index.html
public/stages/index.xml
public/stages/growth/index.html
public/stages/scale/index.html
public/stages/traction/index.html
public/tags/index.html
public/tags/index.xml
public/tags/space/index.html
public/tags/space/index.xml
public/tags/whoiworkwith/index.html
public/tags/whoiworkwith/index.xml
public/traction/index.html
public/who/index.html
