@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Goudy+Bookletter+1911&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
     text-lg font-sans;
  }

  h2 {
     text-xl md:text-2xl lg:text-3xl 
           text-gray-800 
           mb-3 md:mb-4 
           leading-snug;
  }

  blockquote {
     text-2xl;
  }

  blockquote p {
     w-55% mr-10;
  }

  blockquote footer {
     w-55% text-lg text-right;
  }

  section > p, 
  section > footer, 
  section > table {
     w-55%;
  }

  section > dl,
  section > ol,
  section > ul {
     w-50% ps-5%;
  }
}

@layer components {
  .main-menu {
     my-3;
  }

  .button-container {
     flex gap-8 justify-center text-center 
           leading-none pb-8
           max-sm:flex-col max-sm:gap-2;
  }

  .dynamic-text-container {
     min-h-[12rem] text-white inline-block 
           w-full text-center;
  }

  .box-shadow-sm {
     shadow-md;
  }

  .columns {
     flex flex-col gap-8 text-center text-white
           md:flex-row;
  }

  .column {
     shadow-2xl p-4 rounded-2xl 
           md:flex md:flex-col;
  }

  .split-container {
     flex flex-col gap-4 
           md:flex-row md:bg-slate-800/50 
           md:shadow-2xl md:rounded-2xl 
           md:my-8 md:pb-8 md:pr-8;
  }

  .image-container {
     md:flex md:w-2/5 md:justify-center md:items-center;
  }

  .text-container {
     md:w-3/5;
  }

  .sidenote, .marginnote {
     float-right clear-right -mr-[60%] w-1/2 
           mt-1 mb-0 text-sm leading-tight relative;
  }
}

@layer utilities {
  .bg-animated {
     fixed inset-[-50%] opacity-50 z-[-1] 
           animate-slide bg-gradient-to-r 
           from-slate-800 to-blue-500;
  }
}

@layer variants {
  @media (prefers-color-scheme: dark) {
    body {
       bg-neutral-900 text-white;
    }
  }
}

@keyframes slide {
  0% { transform: translateX(-25%); }
  100% { transform: translateX(25%); }
}

.danger {  text-red-500; }