@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Goudy+Bookletter+1911&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --color-red-50: oklch(0.971 0.013 17.38);
  --color-red-100: oklch(0.936 0.032 17.717);
  --color-red-200: oklch(0.885 0.062 18.334);
  --color-red-300: oklch(0.808 0.114 19.571);
  --color-red-400: oklch(0.704 0.191 22.216);
  --color-red-500: oklch(0.637 0.237 25.331);
  --color-red-600: oklch(0.577 0.245 27.325);
  --color-red-700: oklch(0.505 0.213 27.518);
  --color-red-800: oklch(0.444 0.177 26.899);
  --color-red-900: oklch(0.396 0.141 25.723);
  --color-red-950: oklch(0.258 0.092 26.042);
}
/* Menu styles adjusted in `partials/header/fixed.html` */
/* @layer compontents is for reusable  */
@layer components {
    .anchor {
      @apply block relative h-0 invisible;
    }
    .table-header {
      @apply my-[1em];
    }
    .columns {
      @apply flex flex-col md:flex-row gap-2 md:gap-8 text-center w-full;
    }
    .column {
      @apply p-2 md:p-4 rounded-3xl shadow-xl md:flex-1 md:flex md:flex-col;
    }
    .column-button-container {
      @apply md:mt-auto p-4 whitespace-nowrap;
    }
    .split-container {
      @apply flex flex-col md:flex-row items-center md:gap-8
   rounded-[25px] bg-[rgba(30,41,59,0.75)] shadow-[10px_8px_10px_5px_rgba(30,41,59,0.5)]
  mt-8 mb-8 md:mr-8 md:p-[2em];
    }
    .image-container {
        @apply flex justify-center items-center md:flex-[0_0_40%];
    }
    .text-container {
        @apply text-center md:text-left md:flex-[0_0_60%] p-4;
    }
    .dynamic-text-container {
      @apply m-4 min-h-[12rem] text-2xl inline-block size-full text-center;
    }  
  }

/* Background animation */
.bg {
  animation:slide 6s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgba(30, 41, 59) 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:12.5s;
}

.bg3 {
  animation-duration:7.5s;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
/* */

/* highlight button color */
.bg-rose-600 {
  --tw-bg-opacity:1;
  background-color: oklch(0.586 0.253 17.585);
}

.bg-red-600 {
    --tw-bg-opacity: 1;
    background-color: oklch(0.577 0.245 27.325);
}


/* Footnote customizations */
.floating-footnotes {
  position: absolute;
  top: 0;
  right: 0;
  width: 35%; /* Adjust to your preferred width */
}
.floating-footnotes p, .floating-footnotes ::marker {
    font-size:.75em;
}
.max-w-prose {
  max-width:60%
}

.box-shadow-sm {
    box-shadow: 3px 2px 3px 1px rgba(30, 41, 59, 50%);
}

/* Cards */
.h2 {
    line-height: 1.5;
    min-height: calc(1.5em *2);
}

.bg-secondary-600 {
  --tw-bg-opacity:1;
  background-color:rgba(var(--color-secondary-600), var(--tw-bg-opacity, 1))
}

.prose :where(a):not(:where(.not-prose, .not-prose *)) {
  color: whitesmoke;
}

.prose :where(a):not(:where(.not-prose, .not-prose *, .footnote-ref, .footnote-backref )) {
  text-decoration-line: underline;
  text-decoration-style: dotted;
  font-weight: 500;
  text-decoration-color: whitesmoke;
}

/* On mobile, stack the buttons vertically */
@media (max-width: 640px) {
  .button-container {
    flex-direction: column;
    gap: .5rem;
  }
}
/*.footnote-ref {
        color: #000001;
}*/

/* Adds dark mode */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #151515;
        color: #fff;
    }
    ol li::marker {
        color: rgba(var(--tw-prose-invert-body));
    }

}


/* Tufte CSS styles */
html {
    font-size: 18px;
    font-family: "Inter", sans-serif;
    scroll-padding-top: 8rem;
}

section > p,
section > footer,
section > table {
    width: 55%;
}

/* 50 + 5 == 55, to be the same width as paragraph */
section > dl,
section > ol,
section > ul {
    width: 50%;
    -webkit-padding-start: 5%;
}

.sidenote,
.marginnote {
    float: right;
    clear: right;
    margin-right: -60%;
    width: 50%;
    margin-top: 0.3rem;
    margin-bottom: 0;
    font-size: 1.1rem;
    line-height: 1.3;
    vertical-align: baseline;
    position: relative;
}

.sidenote-number {
    counter-increment: sidenote-counter;
}

.sidenote-number:after,
.sidenote:before {
    font-family: et-book-roman-old-style;
    position: relative;
    vertical-align: baseline;
}

.sidenote-number:after {
    content: counter(sidenote-counter);
    font-size: 1rem;
    top: -0.5rem;
    left: 0.1rem;
}

.sidenote:before {
    content: counter(sidenote-counter) " ";
    font-size: 1rem;
    top: -0.5rem;
}

blockquote .sidenote,
blockquote .marginnote {
    margin-right: -82%;
    min-width: 59%;
    text-align: left;
}

div.fullwidth,
table.fullwidth {
    width: 100%;
}


@media (max-width: 760px) {
    html {
      font-size: 16px;
      font-family: "Inter", sans-serif;
      scroll-padding-top: 8rem;
    }

    body {
        width: 84%;
        padding-left: 8%;
        padding-right: 8%;
    }

    hr,
    section > p,
    section > footer,
    section > table {
        width: 100%;
    }

    pre > code {
        width: 97%;
    }

    section > dl,
    section > ol,
    section > ul {
        width: 90%;
    }

    figure {
        max-width: 90%;
    }

    figcaption,
    figure.fullwidth figcaption {
        margin-right: 0%;
        max-width: none;
    }

    blockquote {
        margin-left: 1.5em;
        margin-right: 0em;
    }

    blockquote p,
    blockquote footer {
        width: 100%;
    }

    label.margin-toggle:not(.sidenote-number) {
        display: inline;
    }

    .sidenote,
    .marginnote {
        display: none;
    }

    .margin-toggle:checked + .sidenote,
    .margin-toggle:checked + .marginnote {
        display: block;
        float: left;
        left: 1rem;
        clear: both;
        width: 95%;
        margin: 1rem 2.5%;
        position: relative;
    }

    label {
        cursor: pointer;
    }

    div.table-wrapper,
    table {
        width: 85%;
    }

    img {
        width: 100%;
    }
}
