<div class="dynamic-text-container not-prose" style="min-height: 8rem; color: white; text-align: center">
  {{ .Inner }}<script>
    document.addEventListener("DOMContentLoaded", function () {
      new TypeIt("#typeit-4bc6d08310a78dacc3c87cf4a46d2241", {
        speed:  50 ,
        lifeLike:  true ,
        startDelay:  0 ,
        breakLines:  false ,
        waitUntilVisible:  true ,
        loop:  false ,
        html: true
      })
      .pause(500)
      .type("<h2>How can I help?</h2>")
      .break()
      .pause(500)
      .type("I <strong class='i'>bootstrap</strong> support for startups gaining traction")
      .pause(750)
      .delete(".i")
      .type("<strong class='i'>hire</strong> and train top performing teams")
      .pause(500)
      .delete(".i")
      .type("<strong class='i'>find</strong> the right place for AI in your growing organization")
      .pause(500)
      .delete(".i")
      .type("<strong class='i'>build</strong> teams that keep customers, developers, and sales happy")
      .pause(500)
      .delete(".i")
      .type("<strong class='i'>create</strong> processes that help companies retain customers")
      .pause(500)
      .delete()
      .type("<h2>I enable startups to become global enterprises.</h2>")
      .go();
    });
    </script>
</div>